@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
}

@layer components{

    /*  sneaker list cart  */
    .sneakers-list-cart{
        @apply absolute flex flex-col overflow-hidden right-0 z-[2] top-[110%] w-full  h-[190px] rounded-md transition-all duration-200 animate-[showTransform_0.2s_ease-in_forwards] shadow-[0_5px_10px_0_rgba(0,0,0,0.2)] bg-white md:top-[80%] md:w-[290px] ;
    }
    /* css for class nav item icon toggle close */
    .nav-item-close{
        @apply cursor-pointer mb-4 grid justify-start text-xl  capitalize text-slate-500 font-bold duration-200 transition-all;
    }
    /* nav item */
    .nav-item{
        @apply cursor-pointer grid justify-start text-lg  capitalize text-black font-bold duration-200 transition-all md:text-sm md:text-ecommerce-dark-grayish-blue md:font-[400]  md:place-items-center;
    }

    .thumb-item-shadow{
        @apply shadow-[0_0_0_2px_#ff7d1a] ;
    }


}

@media (min-width:1000px) and (max-height:650px){
    .container-sneakers{
        padding-bottom:2em  !important;
        padding-top:2em  !important;
    }
    }
